body {
    font-family: Roboto;
    font-weight: 500;
}
.topmenu {
    max-width: 1920px;
    height: 36px;
    left: 0px;
    top: 0px;
    background: #0F2438;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topmenu__wrapper {
    width: 1354px;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.placeholder1 {
    margin-right: 5px;
}

.dropdown,.dropdown:hover  {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 45px;
}

.dropdown__menu {
    margin-left: 50px;
}

.top__right__menu {
    margin-left: auto;
}

.right__menu, .right__menu:hover {
    margin-left: 30px;
}

.header {
    display: flex;
    justify-content: center;
    height: 196px;
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);*/
}
.header__wrapper1 {
    height: 196px;
    max-width: 1920px;
    height: 36px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
    margin-top: 27px;

}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1354px;
}

h2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
    margin-top: 10px;
}

.small__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}
.leftimg {
    float: left;
    margin: 10px;
}

.header__right__menu {
    margin-right: -20px;
}


.right__text {
    text-align: right;
    font-size: 14px;
}

.whatsapp {
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;

}

.whatsapp p {
    font-face: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-top: 8px;
}

.phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.contact__form {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
    text-align: right;
}

.middle__text {
    font-size: 14px;
}

.cat__btn {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat__btn__txt {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 10px;
}
 .srch input {
     max-width: 549px;
     min-width: 350px;
     height: 53px;
     padding-left: 10px;
     background: #F4F5FA;
     border-radius: 6px 0px 0px 6px;
     outline: none;
     border: none;
 }
.srch input::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
}
 .srch button {
     background: #005BB9;
     border-radius: 0px 6px 6px 0px;
     height: 54px;
     width: 101px;
     cursor: pointer;
     outline: none;
     border: none;
     margin-left: -5px;
 }

 .srch__txt {
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
      color: #FFFFFF;
 }

.header__right__wrapper {
    display: flex;
    /*justify-content: space-evenly;*/
    align-items: center;
    column-gap: 30px;

}
.left__line {
    border-left: 1px solid #E1E5F8;
    padding-left: 10px;
}

.cat__btn a, a:hover {
    text-decoration: none;
}

.slider__wrapper {
    display: flex;
    width: 1354px;
    margin: 0 auto;
}

.slider {
    width: 1008px;
    height: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../images/sld_bg.png') no-repeat center/cover;
}

.slider__right {
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    padding: 15px;
    position: relative;
}

.slider__arrow {
    /*width: 100px;*/
}

.slider h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C
}

.slider__barcode {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171
}

.slider__price {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.slider__oldprice {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.ml__mext {
    font-size: 16px;
}

.price_action {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.price_action_old {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.buy__btn {
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
.slider2__wrapper {
    position: relative;
    column-gap: 30px;
}
.slb {
    width: 429px;
    height: 184px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.slb__left {
    margin: 30px;
}

.slb__left h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.left__arrow {
    position: absolute;
    left: -40px;
    top: 50px;
}

.right__arrow {
    position: absolute;
    right: -35px;
    top: 50px;
}

.slb button {
    width: 86px;
    height: 26px;
    background: #005BB9;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
    border: none;
}