body {
    font-family: Roboto;
    font-weight: 500;
}
.topmenu {
    max-width: 1920px;
    height: 36px;
    left: 0px;
    top: 0px;
    background: #0F2438;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topmenu__wrapper {
    width: 1354px;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.placeholder1 {
    margin-right: 5px;
}

.dropdown,.dropdown:hover  {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 45px;
}

.dropdown__menu {
    margin-left: 50px;
}
.dropdown__menu__mobile {
    display: none;
}
.top__right__menu {
    margin-left: auto;
}

.right__menu, .right__menu:hover {
    margin-left: 30px;
}

.header {
    display: flex;
    justify-content: center;
    height: 196px;

}
.header__wrapper1 {
    height: 196px;
    max-width: 1920px;
    height: 36px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
    margin-top: 27px;

}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1354px;
}

h2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
    margin-top: 10px;
}

.small__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}
.leftimg {
    float: left;
    margin: 10px;
}

.header__right__menu {
    margin-right: -20px;
}


.right__text {
    text-align: right;
    font-size: 14px;
}

.whatsapp {
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;

}

.whatsapp span{
    font-face: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-top: 8px;
}

.phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.contact__form {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
    text-align: right;
}

.middle__text {
    font-size: 14px;
    margin-top: 15px;
}

.cat__btn, .slider__btn  {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat__btn__txt {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 10px;
}
 .srch input {
     max-width: 549px;
     min-width: 350px;
     height: 53px;
     padding-left: 10px;
     background: #F4F5FA;
     border-radius: 6px 0px 0px 6px;
     outline: none;
     border: none;
 }
.srch input::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
}
 .srch button {
     background: #005BB9;
     border-radius: 0px 6px 6px 0px;
     height: 54px;
     width: 101px;
     cursor: pointer;
     outline: none;
     border: none;
     margin-left: -5px;
 }

 .srch__txt {
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
      color: #FFFFFF;
 }

.subscr__txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.header__right__wrapper {
    display: flex;
    /*justify-content: space-evenly;*/
    align-items: center;
    column-gap: 30px;

}
.left__line {
    border-left: 1px solid #E1E5F8;
    padding-left: 10px;
}

.cat__btn a, a:hover {
    text-decoration: none;
}

.slider__wrapper {
    display: flex;
    width: 1354px;
    margin: 0 auto;
}

.slider {
    width: 1008px;
    height: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../images/sld_bg.png') no-repeat center/cover;
}

.slider__right {
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    padding: 15px;
    position: relative;
}

.slider__arrow {
    /*width: 100px;*/
}

.slider h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C
}

.slider__barcode {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171
}

.slider__price {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.slider__oldprice {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.ml__mext {
    font-size: 16px;
}

.price_action {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.price_action_old {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.buy__btn {
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
.slider2__wrapper {
    position: relative;
    column-gap: 30px;
}
.slb {
    width: 429px;
    height: 184px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}

.slb__left {
    margin: 30px;
}

.slb__left h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.left__arrow {
    position: absolute;
    left: -40px;
    top: 50px;
}

.right__arrow {
    position: absolute;
    right: -35px;
    top: 50px;
}

.slb button {
    width: 86px;
    height: 26px;
    background: #005BB9;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
    border: none;
    margin-bottom: 24px;
}

.mid__button {
    padding: 16px 32px;
    background: #005BB9;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 50px;
    /*width: fit-content;*/
}

.mid__button2 {
    margin-left: 20px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    color: #005BB9;
    background: #FFFFFF;
}

.content__wrapper {
    padding-top: 35px;
    display: flex;
    width: 1354px;
    margin: 0 auto;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
}

.box__item {
    width: 316px;
    height: 418px;
    margin-bottom: 40px;
}

.item_img {
    position: relative;
}
.star__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
}
.response__text {
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}

.box__item h4 {
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}


.item__price__text {
    /*margin-top: 45px;*/
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000
}

.item__price1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;

}
.item__price2 {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    margin-left: 8px;
}
.item__bottom {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.item__price__wrap {
    margin-top: 45px;
    margin-bottom: 8px;
}

.item__img {
    position: relative;
}
.item__discount {
    width: 34px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #FFB800;
    border-radius: 2px
}

.item__line {
    background: #E1E5F8;
    width: 1354px;
    height: 1px;
    margin: 0 auto;
}

.show__more {
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;
    padding: 15px 35px;
    width: 187px;
    height: 49px;
}

a.nodecor {
    text-decoration: none;
}

.bottom__line {
    width: 100%;
    /*height: 9px;*/
    /*background: #F5F5F5;*/
    border-top: 9px solid #f5f5f5;
    margin-top: 14px;
    position: relative;
    min-height: 350px;

}

.news__text {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 80px;
}

.news__wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1354px;
    margin-top: -8px;
    left: 220px;
}

.news__item {
    width: 284px;
}

.news__label {
    background: #0C1A2A;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 1px 20px;
    width: fit-content;
    margin-bottom: 15px;
}

.news__pimpa {
    content: " ";
    background-image: url("../images/pimpa.png");
    background-repeat: no-repeat;
    margin-left: 48px;
}

p.news__text1 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}

.footer__wrapper {
    background: #0C1A2A;
    width: 100%

}

.footer__wrapper1 {
    width: 1354px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 18px;
}

.footer__h {
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    margin-bottom: 14px;
}

.footer__link {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin-bottom: 14px;
    font-weight: 500;
}
.footer__link:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.footer__top {
    display: flex;

}


.bottom__cred__text {
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
}

.mainrow {
    width: 1354px;
    margin: 0 auto;
    display: flex;
}

.bottom_row {
    background: midnightblue;
    height: 50px;
}

.leftwrapper {
    display: flex;
    justify-content: space-evenly;
}
.left_item {
    width: 270px;
}

.rightwrapper {
    display: flex;
    flex-direction: column;
}

.toprightwrapper {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}

.right_top_item {
    width: 160px;
    background: aquamarine;
}

.bottom_right_item {
    margin-left: 50px;
    position: relative;
}

.footer__md {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__lg {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
}

.wht, .wht:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.subscr input {
    max-width: 470px;
    min-width: 350px;
    height: 40px;
    padding-left: 10px;
    background: #0C1A2A;
    outline: none;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
}

.subscr input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
}
.subscr button {
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
    height: 41px;
    width: 177px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-left: -5px;
}

.social__media {
    position: absolute;
    margin-top: 20px;
    right: 0;
}

.social__media img {
    margin-left: 50px;
}

.work__time {
    width: 258px;
}
.header__address {
    width: 180px;
}

.mobile__cont__wrap {
    display: flex;
    column-gap: 70px;
}
.city__top__text {
    font-size: 14px;
}

.srch__mob {
    display: none;
}
.slider__btn__text {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.slider__right__img img {
    width: 74px;
    height: 74px;
}
.slider__right__price {
    margin-left: 95px;
}
.item__buy__btn {
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 49px;
}
.item__buy__text {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 5px;
}